<h2 class="auth-title">Forgot your password?</h2>

<div class='black-border login'>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { "data-turbo": "false", method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'login-box' %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions" %>
    </div>
  <% end %>
</div>

<div class="login-btns auth-title">
  <%= render "devise/shared/links" %>
</div>