<h2 class="auth-title">Log in</h2>

<div class='black-border login'>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, class: 'login-label' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'login-box'  %>
  </div>

  <div class="field">
    <%= f.label :password, class: 'login-label' %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: 'login-box'  %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field login-checkbox-container">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
</div>

<div style = "display: flex; margin: auto; width: 80vw;" class="login-btns">
  <%= render "devise/shared/links" %>
</div>
