<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog App! - <%= @user.name %> posts</title>
</head>
<body>
  <div class="index">
    <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: "#{name} generic-alert" %>
    <% end -%>

    <div class="user">
      <img class="user-image black-border" src='<%= @user.photo %>' alt="user-image">
      
      <div class="user-basic-data black-border">
        <%= link_to @user.name, user_path(id: @user.id), class: 'user-index-name' %>
          <p class="user-index-posts">Posts: <%= @user.posts_counter || 0 %></p>
      </div>
    </div>

    <div class="user-posts">
      <% @user.posts.each do |post| %>
        <div class="user-bio black-border">
          <%= link_to "#{post.title}", user_post_path(user_id: post.author.id, id: post.id), method: :get, class: 'section-title hover-title' %>
          <p><%= post.reduced_text %></p>
          <p class="post-com-like">Comments: <%= post.comments_counter || 0 %>, Likes: <%= post.likes_counter || 0 %></p>
          <% if can? :destroy, post %>
            <%= button_to "Delete post", user_post_path(user_id: post.author.id, id: post.id), method: :delete, data: {confirm: 'Are you sure? '} %>
          <% end %>
        </div>
        <ul class="post-comments black-border">
          <% post.most_recent_comments.each do |comment| %>
            <li class="comment"><b><%= comment.author.name %></b>: <%= comment.text %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="btn-container">
      <%= link_to 'Go Back', user_path(id: @user.id), class: 'posts-btn black-border' %>
    </div>
  </div>
</body>

</html>